@{
    ViewBag.Title = "Sporten";
}

<div class="row">
    <div class="col-md-4">
        <h2>Wielrennen</h2>
        <p><img src="http://media.nu.nl/m/m1mxclvamidk_wd640.jpg/geen-zware-klimmen-bij-wk-wielrennen-2014-in-ponferrada.jpg" /></p>
    </div>
    <div class="col-md-4">
        <h2>Tourfietsen</h2>
        <p><img src="http://www.bd.nl/polopoly_fs/1.5038310.1435490149!/image/image.JPG_gen/derivatives/landscape_800_600/image-5038310.JPG" /></p>
    </div>
    <div class="col-md-4">
        <h2>Crossfietsen</h2>
        <p><img src="http://fccdekombocht.nl/wp-content/uploads/2012/03/bmxsprong1.jpg" /></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Voetbal</h2>
            <p><img src="http://voorkomblessures.veiligheid.nl/csi/voorkomblessures.nsf/0/1DD10665D7DEA087C1257A3300322DC1/$file/Voetbal_500px_230px.jpg" /></p>
        </div>
        <div class="col-md-4">
            <h2>Korfbal</h2>
            <p><img src="http://www.kvwolderwijd.com/images/Artikelen/Korfballen.jpg" /></p>
        </div>
        <div class="col-md-4">
            <h2>Handbal</h2>
            <p><img src="http://www.summercamps.nl/img/house/28_Handbal%203jpg.jpg" /></p>
        </div>
    </div>

    <style>
        img {
            width:  262px;
            height: 175px;
        }
    </style>
